In [1]:
fruits = ["apple","orange","banana","coconut","pineapple"]
print(fruits)
print(fruits[3])
print(fruits[0:3])
print(fruits[::-1])
fruits.append("apple")
fruits.remove("pineapple")
fruits.pop(1)
fruits.insert(1,"pineapple")

['apple', 'orange', 'banana', 'coconut', 'pineapple']
coconut
['apple', 'orange', 'banana']
['pineapple', 'coconut', 'banana', 'orange', 'apple']

In [2]:
print(fruits.index("coconut"))
print(fruits.count("pineapple"))

3
1

In [3]:
list = [1,2,3,[4,5]]
print(1 in list)
print([4,5] in list)
print(4 in list)
print(4 in list[3])

True
True
False
True

In [4]:
list = [1,2,3,[4,5]]
print(1 in list)
print(list[3])
#print(list[3][2])

True
[4, 5]

In [5]:
squares=(x*2 for x in range(1,6))
print(squares)

<generator object <genexpr> at 0x0000025CF21B0040>

In [6]:
words = ["apple","banana","cherry"]
uppercased = [word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [7]:
fruits = {"apple","coconut","coconut","orange"}
print(fruits)
print(dir(fruits))

{'apple', 'coconut', 'orange'}
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [8]:
fruits.remove("apple")
fruits.pop()
print(fruits)

{'orange'}

In [9]:
set1 = {"a","b","c","d"}
set1.remove("a")
print(set1)

{'c', 'd', 'b'}

In [10]:
fruits = ("apple","banana","orange")
print(fruits)

('apple', 'banana', 'orange')

In [11]:
len(fruits)
print(fruits[0])
print(fruits.count("apple"))

apple
1

In [12]:
newTuple = ("Apple","banana","cherry","Watermelon")
y = ("orange",)
newTuple+=y
print(newTuple)

('Apple', 'banana', 'cherry', 'Watermelon', 'orange')

In [25]:
fruits = ("apple","Banana","Cherry","kiwi")

(green,*yellow,red) = fruits
print(yellow)
print(green)
print(red)

['Banana', 'Cherry']
apple
kiwi

In [15]:
t = (1,2,(3,4),["a","b"])
print(t[3][1])

b

In [16]:
list = [1,"hello",3.14,True]
tuple = (1,"hello",3.14,True)
set = (1,"hello",3.14,True)
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) (1, 'hello', 3.14, True)

In [17]:
fruits = ["apple","banana","kiwi","coconut"]
if "apple"  in fruits:
    print("Yes it  is in the fruits set")

Yes it  is in the fruits set

In [18]:
i = 0 ;
while i<len(fruits):
       print(fruits[i])
       i=i+1
       print(fruits*5)

apple
['apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut']
banana
['apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut']
kiwi
['apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut']
coconut
['apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut', 'apple', 'banana', 'kiwi', 'coconut']

In [19]:
student = {
    1 : "first",
    "name":"Alice",
    "age":20,
    "courses":["math","science"]
}
print(student["age"])
print(student.get("age"))
print(dir(student))
student = dict(name="Alice",age=30,city= "New York")

20
20
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [20]:
student["job"] = "Engineering"
student["age"] = 25
print(student)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineering'}

In [21]:
del student["city"]
print(student)

{'name': 'Alice', 'age': 25, 'job': 'Engineering'}

In [22]:
for key in student:
    print(key)
    for value in student.values():
        for key,value in student.items():
         print(key,value)

name
name Alice
age 25
job Engineering
name Alice
age 25
job Engineering
name Alice
age 25
job Engineering
age
name Alice
age 25
job Engineering
name Alice
age 25
job Engineering
name Alice
age 25
job Engineering
job
name Alice
age 25
job Engineering
name Alice
age 25
job Engineering
name Alice
age 25
job Engineering

In [23]:
student = {
    "student1":{"name": "Alice", "age":20},
    "student2":{"name":"Bob","age":20}
}
print(student["student1"]["name"])

Alice